html{
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}
.nav-margin{
  margin-top: 5rem !important;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;  
  color: #000000;
}
.products {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px; 
}
.active-nav {
  left: 0;
  
}
.text-bold {
  font-weight: bold;
}

button.thumbnail {
  padding: 0;
}
ul li :any-link{
  text-decoration: none; 
}
.no-dots{
  list-style: none;
}
/*In cards*/
.no-link{
  text-decoration: none;
  color: rgb(17, 9, 99)
}

/*Icons*/
.icons{
  font-weight: bold !important;
}
.icons:hover{
  font-weight: bold;
  color: #c6c2b4 !important;
  transform: scale(1.2)
}

.btn-Mercado-Pago{
  width: 10rem;
}
.btn-Mercado-Pago img{
  height: 1.5rem;
}

/* Map */
.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

/* Chatbox */
.chatbox {
  color: #0b0101;
  position: fixed;
  right: 1rem;
  bottom: 1rem;  
}
.chatbox ul {
  overflow: scroll;
  max-height: 30rem;
}
.chatbox li {
  margin-bottom: 1rem;
  list-style: none;
  text-align: left
}
.chatbox input {
  width: 100%;  
}

.support-users {
  background: #f0f0f0;
  height: 100%;
  align-items: center;
}

.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  list-style: none;
  text-align: left;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.support-users span {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute; 
  margin-top: 11px; 
}
.support-users strong {
  margin-top: 7px; 
 position: absolute;
 margin-left: -70px  
    
}
.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c5acac;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}
.support-messages {
  padding: 0.5rem;
}
.support-messages input {
  /* width: calc(100% - 9rem); */
  width: 25rem;
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
  list-style: none;
}

